body {
  background-color: #000;
  color: #ddd;
  margin: 0;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

header {
  padding: 2rem 0 1rem;
  text-align: center;
}

header h1 a {
  color: #fff;
  text-decoration: none;
}

header h1 a:visited,
header h1 a:hover,
header h1 a:focus,
header h1 a:active {
  color: #fff;
  text-decoration: none;
}

.poem-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 2rem;
}

.poem-container h2 {
  position: relative;
  margin-right: 0;
  align-self: flex-end;
}

.poem-text {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.scroll-top {
  position: fixed;
  left: 0;
  top: 50%;
  padding: 0.5rem;
  color: #fff;
  text-decoration: none;
  background: transparent;
  writing-mode: vertical-rl;
  transform: translateY(-50%);
}

.scroll-top:hover,
.scroll-top:active,
.scroll-top:focus {
  color: #fff;
}
.nav-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  font-size: 14px;
}

.nav-buttons a {
  color: #ccc;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.05);
  padding: 8px 12px;
  border-radius: 4px;
  transition: background 0.2s ease;
}

.nav-buttons a:hover {
  background: rgba(255, 255, 255, 0.1);
}


footer {
  text-align: center;
  color: #888;
  margin-top: 4rem;
  padding: 2rem 0;
}
.hidden {
  display: none;
}

.footer-copy a {
  color: #888;
  text-decoration: none;
}

.footer-copy a:visited,
.footer-copy a:hover,
.footer-copy a:focus,
.footer-copy a:active {
  color: #888;
  text-decoration: none;
}

@media (max-width: 600px) {
  .poem-container {
    align-items: center;
  }
  .poem-text {
    text-align: left;
  }
}

#left-scroll-zone {
  position: fixed;
  top: 0;
  left: 0;
  width: 9ch;
  height: 100%;
  background-color: transparent;
  transition: background-color 0.3s ease;
  z-index: 999;
  cursor: pointer;
}

#left-scroll-zone:hover {
  background-color: rgba(200, 200, 200, 0.15); /* полупрозрачная серая подсветка */
}

#scroll-up-arrow {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

#left-scroll-zone:hover #scroll-up-arrow {
  opacity: 1;
}

.logo-icon {
  height: 1em;
  width: 1em;
  object-fit: cover;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 0.3em;
}
