body {
  background-color: #000;
  color: #ddd;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: underline;
}
a:hover, a:active, a:focus {
  color: #fff;
  text-decoration: underline;
}

header {
  text-align: center;
  padding: 2rem 0 1rem;
}

.logo {
  font-size: 1.8rem;
  color: #fff;
  text-decoration: none;
  pointer-events: auto;
}

main.home-main {
  display: flex;
  justify-content: flex-start;
  padding: 2rem;
}

.poem-list {
  list-style: none;
  padding-left: 1rem;
}
.poem-list li {
  margin: 0.4rem 0;
}

.next-poem {
  position: fixed;
  bottom: 50px;
  right: 20px;
  background-color: #111;
  color: #fff;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 0.9em;
  opacity: 0.8;
  z-index: 1000;
}

.hidden {
  display: none;
}

@media (max-width: 600px) {
  main.home-main {
    justify-content: center;
    padding: 1rem;
  }

  .poem-list {
    padding-left: 0.5rem;
  }
}

@media (max-width: 600px) {
  .video-bg {
    object-position: 30% center; /* сдвигает видео левее */
  }
}

.logo-icon {
  height: 1em;
  width: 1em;
  object-fit: cover;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 0.3em;
}

/* ФУТЕР */

footer {
  position: relative;
  width: 100%;
  padding: 20px 0 10px; 
  margin-top: 14rem;     
  border-top: 1px solid #222;
}

.footer-copy {
  text-align: center;
  color: #888;
  font-size: 0.9rem;
  margin-top: 0.5rem;
}

/* ТЕЛЕГРАМ БЛОК */

.telegram-block {
  position: fixed;
  bottom: 10px;
  right: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #000;
  padding: 4px 8px;
  border-radius: 6px;
  z-index: 1000;
}

.tg-pic {
  width: 28px;
  height: 28px;
  object-fit: cover;
  border-radius: 4px;
}

.tg-link {
  color: white;
  font-size: 1rem;
  text-decoration: underline;
}

.background-video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: -1;
  pointer-events: none;
  background-color: #000;
}
